.avatar {
  position: relative;
  height: 60px;
  width: 60px;
  background-color: var(--nord3);
  border: 2px solid var(--nord6);
  border-radius: 50%;
  overflow: hidden;
}

.avatar-status::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 5px;
  right: 5px;

  width: 10px;
  height: 10px;

  border: 2px solid var(--nord6);
  border-radius: 50%;
}

.avatar-status--active::after {
  background-color: var(--nord14);
}

.avatar-status--inactive::after {
  background-color: var(--nord3);
}

.avatar-status--sleep::after {
  background-color: var(--nord13);
}

.avatar-status--block::after {
  background-color: var(--nord11);
}
