<div>
  <div class="title">{{ title }}</div>
  <br />
  <form action="" class="form">
    <div class="form_error"></div>
    <div slot="btn-submit"></div>
    {{!-- <div slot="btn-submit"></div> --}}
    {{!-- <div slot="btn-submit"></div> --}}

    {{#each slots as |slot| }}
    {{{component slot parent:this}}}
    {{/each }}
  </form>
  <br>
  <a class="link" href="{{ link.url }}">{{ link.text }}</a>
</div>