/* button */

.button {
  width: 100%;
  padding: 4px;
  background-color: var(--nord9);
  color: white;
  border: 1px solid var(--nord9);
  cursor: pointer;
  border-radius: 3px;
  text-align: center;
}

.button:hover {
  background-color: var(--nord10);
  color: white;
  border: 1px solid var(--nord10);
}
