<div>
  <nav class="nav">
    <a class="nav__button" href="./login">login</a>
    <a class="nav__button" href="./registration">registration</a>
    <a class="nav__button" href="./chat">chat</a>
  </nav>
  <div class="page" ref="page"></div>
</div>
