.chat {
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: 100vh;

  margin: 0 auto;
  overflow: hidden;
  background-color: white;
}

.chat__sidebar {
  flex-shrink: 0;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  max-width: 300px;

  overflow-y: auto;
  overflow-x: hidden;
  border-right: 1px solid var(--nord4);
}

.sidebar {
}

.sidebar__header {
  padding: 10px;
  height: 70px;
  border-bottom: 1px solid var(--nord6);
}

.sidebar__body {
  height: 100%;
  overflow-y: auto;
}

.sidebar__footer {
  flex-shrink: 0;
  padding: 10px;
  height: 91px;
  border-top: 1px solid var(--nord6);
}

.chat__main {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.chat__main--empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: 100%;
  text-align: center;
  color: var(--nord4);
}

.chat__main--empty::before {
  content: 'empty';
  text-transform: uppercase;
  background-size: cover;
  background-position: center center;
  width: 100px;
  height: 100px;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user__avatar {
  margin-right: 10px;
}

.user__name {
  font-size: 1.5rem;
}

.user__setting {
  font-size: 3rem;
  cursor: pointer;
}

@media (max-width: 500px) {
  .chat__sidebar {
    max-width: 50px;
  }
}
