/* @import url('./components/App/style.css'); */
@import url('./components/Menu/style.css');
@import url('./components/Box/style.css');
/* @import url('./components/Button/style.css'); */
/* @import url('./components/Input/style.css'); */

/* @import url('./pages/PageLogin/style.css'); */
/* @import url('./pages/PageRegistration/style.css'); */
@import url('./pages/PageError/style.css');

:root {
  --nord-g: #999;
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord10: #5e81ac;
  --nord11: #bf616a;
  --nord12: #d08770;
  --nord13: #ebcb8b;
  --nord14: #a3be8c;
  --nord15: #b48ead;
  --white-shadow: 0px 2px 4px #d8dee9;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: var(--nord3);
  opacity: 0.5;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--nord3);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--nord0);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--nord6);
}
